.projects__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    justify-items: center;
}

.projects__cards {
    padding: 1rem;
    width: 17rem;
    text-align: justify;
    text-justify: inter-word;
}

.projects__card__title {
    color: yellow;
}

.card__button_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;

}

.card__btn__project {
    font-size: 0.6rem;
    color: red;
    
}

.card-body{
    padding: 0.5rem 0 ;
}

.project__modal {
    color: black;
    width: 90%;
}

.project__modal h2{
    text-align: center;
}
.pill__container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: center;
}

.project__techpill{
    background-color: darkcyan;
    border-radius: 4rem;
    width: fit-content;
    padding: 1rem;
    color: white;
}

.project__carousel__caption{
    color: yellow;
    text-shadow: 1px 1px 2px black;
}

/* --- Media Queries (MD) --- */

@media screen and (max-width: 1024px) {
    
    .projects__container{        
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

/* --- Media Queries (SM) --- */

@media screen and (max-width: 600px) {
    
    .projects__container{        
        grid-template-columns: 1fr ;
        gap: 3rem;
    }

    .projects__cards {
        padding: 0.6rem;
        width: 16rem;
    }

    .card__btn__project {
        font-size: 0.5rem;
    }
    
}