.contact__card {
    background-color: blue;
    border-radius:50%;
    width: 6.5rem;
    height: 6.5rem;
    display: flex;    
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.contact__card:hover {
    transform: scale(1.1);
    background-color: black;
}

.contact__card a {
    font-size: 0.8rem;  
    text-decoration: none;
}

.contact__card h5 {
    color: var(white);
    font-weight: bold;
}
.contact__icon {
    font-size: 2rem;
    color: yellow;
}

.contact__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;    
}

#contact {
    min-height: fit-content;
    margin-bottom: 6rem;
}

/* --- Media Queries (SM) --- */

@media screen and (max-width: 600px) {
    
    .contact__cards {
        grid-template-columns: 1fr 1fr; 
        gap: 3rem;  
    }
    
}