header {
    height: fit-content;
    padding-top: 4rem;
    overflow: hidden;
}

.header__container {
    text-align: center;    
    position: relative;    
    display: flex;
    flex-direction: column;
    align-items: center;     
}

.greeting {
    margin-bottom: 1rem;
}


/* --- My Photo --- */

.me {
    background: linear-gradient(var(--color-main), transparent);    
    height: 28rem;
    width: 18rem;
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    margin-bottom: 1rem;      
}

/* --- Header Contact --- */

.header__contact{
    margin-top: 1rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* --- Header Social Media --- */

.header__socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 6rem;
    bottom: 15rem;
}

.header__socialMedia::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-main);
}

.header__socialMedia-icon {
    font-size: 2rem;
}

/* --- Media Queries (MD) --- */

@media screen and (max-width: 1024px) {
    header {
        height: fit-content;
    }  
    
    .header__socialMedia {
        left: 4rem;
    }
}

/* --- Media Queries (SM) --- */

@media screen and (max-width: 600px) {
    header {
        height: fit-content;
        padding-top: 3rem;
    }
    
    .header__socialMedia {
        flex-direction: row;
        left: 8rem;
        bottom: 8rem;
    }    

    .me {
        width: 14rem;     
    }
}